html,
body {
    margin: 0;
}

.navbar {
    background-color: rgb(180, 180, 180);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.navlink {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

a.navlink:hover{
    color: white
}

#navbar--logo-but {
    min-width: 15em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navbar--logo {
    padding: 1em;
    text-transform: capitalize;
    letter-spacing: 0.25em;
    font-size: 1.25em;
}

#navbar--button {
    display: none;
    padding: 1em;
}

#navbar--menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar--menu--item {
    padding: 1em;
}

.navbar--menu--item:hover .navbar--sub-menu{
    display: block;
}

.navbar--sub-menu {
    display: none;
    position: fixed;
    background-color: rgb(180, 180, 180);
}

.navbar--sub-menu--item{
    padding: 1em;
}


@media (max-width : 500px) {
    .navbar {
        flex-direction: column;
    }
    #navbar--menu {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: space-around;
    }
    #navbar--button {
        display: inline;
    }
}